body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


#project_name {
    height: 40px;
    width:  80%;
    background: #dc79ff;
    float: left;


}
#navigationPanel {
    height: 500px;
    min-width:20%;
    background: #b783ff;
    float: left;

}
#stage{
   width: 80%;
    height: 20px;
    background: darkblue;
    float:left;
}

.task_name{
    display: inline-block;
    background: #4d4f14;
    border: 1px solid black;
    width: 12.3%;
    min-width: 12.3%;
    float: left;
}

#table{
    max-width: 80%;
    min-width: 80%;
    height: 440px;
    background: cyan;
    float: left;
    display: inline-block;
    overflow: hidden;
}

#taskColumn1 {
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: aliceblue;
    max-height:450px;
    table-layout: fixed;

}
#taskColumn2{
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: aliceblue;
}
#taskColumn3 {
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: aliceblue;

}
#taskColumn4{
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: aliceblue;
}
#taskColumn5 {
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: aliceblue;

}
#taskColumn6{
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: aliceblue;
}

#taskColumn7{
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: aliceblue;
}

#taskColumn8{
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    float: left;
    background: aliceblue;

}
#chat{
    width: 80%;
    background: cadetblue;
    height: 100px;
    float: right;
    overflow: scroll;

}




