body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: cadetblue;
}


#indexProjectName {
    height: 40px;
    width:  80%;
    background: cadetblue;
    float: left;


}
#indexNavigationPanel {
    height: 500px;
    min-width:20%;
    background: cadetblue;
    float: left;
}

#indexNavigationPanelButtonAddProject{
    background: darkgrey;
}

#indexNavigationPanelButtonAddTask{
    background: darkgrey;
}
#indexNavigationPanelButtonAddUser{
    background: darkgrey;
}
#indexProjectStage{
   width: 80%;
    height: 20px;
    background: darkblue;
    float:left;
}

.task_name{
    display: inline-block;
    background: darkcyan;
    border: 1px solid black;
    width: 12.3%;
    min-width: 12.3%;
    float: left;
}

#indexTaskTable{
    max-width: 80%;
    min-width: 80%;
    height: 440px;
    background: cadetblue;
    float: left;
    display: inline-block;
    overflow: hidden;
}

#taskColumn1 {
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: aliceblue;
    max-height:450px;
    table-layout: fixed;

}
#taskColumn2{
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: aliceblue;
}
#taskColumn3 {
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: aliceblue;

}
#taskColumn4{
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: aliceblue;
}
#taskColumn5 {
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: aliceblue;

}
#taskColumn6{
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: aliceblue;
}

#taskColumn7{
    width: 12.3%;
    min-width: 12.3%;
    word-break: break-all;
    border: 1px solid black;
    display: inline-block;
    float: left;
    background: aliceblue;
}

#taskColumn8{
    width: 12.5%;
    min-width: 12.5%;
    word-break: break-all;
    border: 1px solid black;
    float: left;
    background: aliceblue;

}
#indexChat{
    width: 80%;
    background: aliceblue;
    height: 100px;
    float: right;
    overflow: scroll;
}




