<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="addProject.css">
    <title> addProject </title>
</head>

<body>

<div id="addProjectProjectName"> Введите название проекта &nbsp
    <input id="addNameProject" type="text" form id="addProjectButtonAddProject">
</div>

<div id="addProjectProjectStatus"> Выберите состояние проекта &nbsp &nbsp &nbsp
    <select>
        <option> В работе </option>
        <option> Работы окончены </option>
    </select >
</div>

<div id="addProjectButton">
    <input type="button" value=" Добавить " id="AddProjectButtonAdd">
</div>

</body>
</html>