<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="addTask.css">
    <title> addTask </title>
</head>


<body>

<div id="addTaskProjectName">Выберите проект &nbsp &nbsp
    <select>
        <option>Проект 1 </option>
        <option>Проект 2 </option>
    </select>
</div>
<div id="addTaskStage">Выберите этап проекта &nbsp &nbsp &nbsp
    <select>
        <option>Контракт</option>
        <option>Службы</option>
        <option>ППР</option>
        <option>Материалы</option>
        <option>Мобилизация</option>
        <option>Работы</option>
        <option>Документация</option>
        <option>Демобилизация</option>
    </select>
</div>

<div id="addTaskUser">Выберите ответственное лицо   &nbsp
    <select>
        <option>Иванов М.М.</option>
        <option>Пупкин П.П.</option>
    </select>
</div>
<div id="addTaskStatus">Выберите статус задачи  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <select>
        <option>В работе</option>
        <option>Выполнена</option>
    </select>
</div>
<div id="addTaskPriority">Выберите приоритет задачи
    <select>
        <option>Требуется установить</option>
        <option>Требуется установить</option>
        <option>Требуется установить</option>
    </select>
</div>

<div id="addTaskDateOfCreation">Установите дату создания задачи &nbsp &nbsp &nbsp &nbsp
    <input type="date">
</div>

<div id="addTaskExpirationDate">Установите конечную дату исполнения задачи
    <input type="date">
</div>

<div id="addTaskInputFieldTask"> Введите текст задачи </div>
<div id="addTaskTextArea">
<textarea cols="60" rows="10"> </textarea>
</div>

<div id="addTaskButton">
    <input type="button" value=" Добавить " id="buttonAddTask">
</div>

</body>
</html>