<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="canban.css">
    <title>Kanban Board</title>
</head>
<body>
<div id="main">
    <div id="project_name">Название проекта
        <select >
            <option>Проект 1</option>
            <option>Проект 2</option>
            <option>Проект 3</option>
            <option>Проект 4</option>
        </select >
    </div>

    <div id="navigationPanel">Навигационная панель
        <div class="side">
            <ul class="menu">
                <li class="menu__list"><a href="#">Проекты</a>
                    <ul class="menu__drop">
                        <li><a href="/project/add"> Добавить проект</a></li>
                        <li><a href="#"> Вывести все проекты</a></li>
                        <li><a href="#"> Удалить проект</a></li>
                    </ul>
                </li>
                <li class="menu__list"><a href="#">Пользователи</a>
                    <ul class="menu__drop">
                        <li><a href="/kanbanUser/add"> Добавить пользователя</a></li>
                        <li><a href="#"> Вывести всех пользователей</a></li>
                        <li><a href="#"> Удалить пользователя</a></li>
                    </ul>
                </li>
                <li class="menu__list"><a href="#">Задачи</a>
                    <ul class="menu__drop">
                        <li><a href="/task/add"> Добавить задачу</a></li>
                        <li><a href="#"> Неоконченные задачи</a></li>
                        <li><a href="#"> Все задачи</a></li>
                        <li><a href="#"> Все задачи пользователя</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div id="tasks">
        <table class="tasks__header">
            <tr>
                <td>Контракт</td>
                <td>Службы</td>
                <td>ППР</td>
                <td>Работы</td>
                <td>Документация</td>
                <td>Моб / Демоб</td>
            </tr>
        </table>
    </div>
    <div id = "chat">Чат</div>
</div>
</body>
</html>