<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/canban.css">
    <title>Kanban Board</title>
</head>

<body>

<div id="main">
    <div id="project_name">Название проекта
        <select >
            <option>Проект 1</option>
            <option>Проект 2</option>
            <option>Проект 3</option>
            <option>Проект 4</option>
        </select >
    </div>

    <div id="navigationPanel">Навигационная панель
        <form id="button"> <p><input type="button" value=" Добавить проект ">
            <p><input type="button" value=" Добавить задачу "></p>
            <p> <input type="button" value=" Добавить ответственного "></p>
        </form>
    </div>

    <div id="tasks">
        <div class="task_name">Контракт</div>
        <div class="task_name">Службы</div>
        <div class="task_name">ППР</div>
        <div class="task_name">Материалы</div>
        <div class="task_name">Мобилизация</div>
        <div class="task_name">Работы</div>
        <div class="task_name">Документация</div>
        <div class="task_name">Демобилизация</div>

        <table id="tableContract" border="1px" align="left" width="12.1%" >
            <tr>
                <td> dhgddddddddddddddddddddddddddddddd</td>
            </tr>
            <tr>
                <td> dhgddddddddddddddddddddddddddddddd</td>
            </tr>
        </table>

        <table id="tableContract2" border="1px" align="left" width="12.1%">
            <tr>
                <td> dhgddddddddddddddddddddddddddddddd</td>
            </tr>
        </table>
        <table id="tableContract3" border="1px" align="left" width="12.1%">
            <tr>
                <td> dhgdddddddddddddddgfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffdddddddddddddddd</td>
            </tr>
        </table>


    </div>

    <div id = "chat">Чат</div>
</div>


</body>

</html>